<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
      .searchInput {
      	display: flex;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDVJuxExkq9Ks9Tc-gxvdaUZhS5I4btYl4"></script>
  	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  	<script src="js/maps.js"></script>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <br/>
    <!--The div element for the map -->
    <div id="map"></div>
  </body>
</html>